<nav class="navbar">
  
  <h1>
    Angular templates
  </h1>

  <ul>
    <li><a [routerLink]="['/']" 
      routerLinkActive="router-link-active" 
      [routerLinkActiveOptions]="{ exact : true}">
      Home</a></li>
      
    <li><a [routerLink]="['/back']"
       routerLinkActive="router-link-active" >
       Back</a></li>

    <li><a [routerLink]="['/next']"
       routerLinkActive="router-link-active" >
       Next</a></li>
  </ul>
  
</nav>

<div class="container">
  
    <router-outlet></router-outlet>
  
</div>
