/* You can add global styles to this file, and also import other style files */

body {
    background: rgb(235, 233, 233);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    // z-index: 1;
    width: 100%;
    opacity: 0.9;
    margin-bottom: 1rem;
    color: #fff;
    background: #dc3545;
}

ul {
    display: flex;
    list-style: none;
}

a {
    padding: 0.45rem;
    margin: 0 0.25rem;
    color: #fff;
    text-decoration: none;
}

.router-link-active {
    color: rgb(104, 94, 94);

}

.container {
    
}